doctype html
html
  title= book.title
  include ../layout/bootstrap.jade
body
  include ../layout/header.jade
  div.bookcontainer 
    div.bookinfo
      h1= book.title
      p Av: #{book.author.join(' & ')}
      p År: #{book.year}
      p Genre: #{book.genre.join(', ')}
      p Format: #{book.format.join(', ')}
      p Förlag: #{book.publisher}
      p Språk: #{book.language.join(', ')}
      p Info: #{book.info}
