doctype html
html
  title= book.title
body
  include ../layout/header.jade
  h1= book.title
  p= book.author.join(' & ')
  p= book.year
  p= book.genre.join(', ')
  p= book.format.join(', ')
  p= book.publisher
  p= book.language.join(', ')
  p= book.info
